wheel

# Django LTS
Django==1.11.20

# From https://pypi.org/project/django-markdown-app/0.9.6/
# Django 2.0 or later 0.9.6
# Django 1.8 or later 0.9.3.1
django-markdown-app==0.9.3.1

Markdown==3.1
psycopg2-binary
