{% extends "base.html" %}


{% load static %}
{% load django_markdown %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/entry_detail.css' %}">
{% endblock css %}


{% block content %}
<div class="entry-container">

  <div class="entry-title">
      {{ entry.title }}
  </div>

  <!-- inline entry-into, only for smartphones -->
  <div class="entry-info smartphone">
      <div class="entry-date">
          {{ entry.created_at|date:'d.m.y' }}
      </div>
      <div class="entry-author">
          Author &dash; {{ entry.created_by.get_full_name }}
          <!-- TODO add extra authors -->
      </div>
      <div class="entry-categories">
          {{ entry.categories_display }}
      </div>
  </div>

  <!-- floating entry-into, not for smartphones -->
  <div class="entry-info notsmartphone">
      <div class="entry-date">
          {{ entry.created_at|date:'d.m.y' }}
      </div>
      <div class="entry-author">
          Author &dash; {{ entry.created_by.get_full_name }}
          <!-- TODO add extra authors -->
      </div>
      <div class="entry-categories">
          {{ entry.categories_display }}
      </div>
  </div>

  <div class="entry-content">
      {{ entry.content|markdown }}
  </div>

{% comment %}
<div class="pure-u-5-24">
  <div class="entry-extra">
    <div class="entry-social">
      Share on Facebook
    </div>
    <div class="entry-related">
      <ul>
        <li>related content</li>
        <li>related content</li>
      </ul>
    </div>
  </div>
</div>
{% endcomment %}

</div>
{% endblock content %}

