{# issue detail page, a list of entries in this issue #}
{% extends "base.html" %}


{% load static %}


{% block css %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}" charset="utf-8"></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/issue_detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/entry_well.css' %}">
{% endblock css %}


{% block content %}

<div id="issue-detail-header" class="pure-g">
  <div id="issue-detail-header-title" class="pure-u-1-3">
    {{ issue.title }}
  </div>
  <div id="issue-detail-header-intro" class="pure-u-2-3">
    {{ issue.introduction }}
  </div>
</div>

<div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>

    {% for entry in entry_list %}
    <div class="grid-item {% if forloop.first %}first-entry{% endif %}">
        {% include 'magazine/entry_well.html' with entry=entry %}
    </div>
    {% endfor %}

</div>
{% endblock content %}


{% block js %}
<script src="{% static 'magazine/js/entry_well.js' %}"></script>
{% endblock js %}

