{# issue list page #}
{% extends "base.html" %}


{% load static %}


{% block css %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}" charset="utf-8"></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/issue_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/issue_well.css' %}">
{% endblock css %}


{% block content %}
<div id="issue-list-header">
  At Generation Zero we sometimes create features based around a particular theme that interest us; here we have carefully curated each issue for your viewing pleasure.
</div>

<div id="issue-list-container">
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>

    {% for issue in issue_list %}
    <div class="grid-item {% if forloop.first %}first-issue{% endif %}">
        {% include 'magazine/issue_well.html' with issue=issue %}
    </div>
    {% endfor %}

  </div>
</div>
{% endblock content %}


{% block js %}
<script src="{% static 'magazine/js/entry_well.js' %}"></script>
{% endblock js %}

