@font-face{
    font-family: "Clearface-Bold";
    src: url('../font/Clearface-Bold.ttf'),
    url('../font/Clearface-Bold.eot'); /* IE */
}

/* TYPOGRAPHY */
@font-face{
    font-family: "DIN-Black";
    src: url('../font/DIN-Black.ttf'),
    url('../font/DIN-Black.eot'); /* IE */
}

@font-face{
    font-family: "FuturaStd-BookOblique";
    src: url('../font/FuturaStd-BookOblique.ttf'),
    url('../font/FuturaStd-BookOblique.eot'); /* IE */
}

body {
    font-family: DIN-Black;
}

.entry-container,
.entry-info {
    font-family: DIN-Black;
}

.entry-content {
    font-family: Clearface-Bold;

}

.entry-categories,
.entry-well-categories {
    font-family: FuturaStd-BookOblique;
}

.entry-well-content {
    font-family: Clearface-Bold;
}


a {
    color: #000;
    text-decoration: none;
}
a:visited {
  color: #000;
}
a:hover {
  color: #999;
}

#navigation ul {
    font-family: DIN-Black;
    margin: 0;
    padding: 0;
}

/* MISC POSITIONINGS */
.clear{
    clear: both;
}
.hide {
    display: none;
}

/* MAIN HEADER w/ NAVIGATION ETC. */
#header_container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* center all inline content */
    text-align: center;
    text-transform: uppercase;
}
#header {
    padding: 2% 0;
    width: 90%;
    margin: 0 auto;
}
#header div{
    vertical-align: middle;
}
#masthead {
    padding: 2% 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  z-index: 9000;
}
#branding {
    float: left;
    width: 8%;
}
#branding img{
    width: 100%;
}
#navigation {
    margin: 13px 0 0 0;
    display: inline-block;
}
#navigation li{
    display: inline-block;
    margin: 0 20px;
}
#navigation a{
    font-size: 30px;
}
#menu {
    float: right;
    width: 8%;
}

/* MAIN CONTENT */
#main_content {
    width: 80%;
    margin: 0 auto;
}


