@font-face{
    font-family: "Clearface-Bold";
    src: url('../font/Clearface-Bold.ttf'),
    url('../font/Clearface-Bold.eot'); /* IE */
}

/* TYPOGRAPHY */
@font-face{
    font-family: "DIN-Black";
    src: url('../font/DIN-Black.ttf'),
    url('../font/DIN-Black.eot'); /* IE */
}

@font-face{
    font-family: "FuturaStd-BookOblique";
    src: url('../font/FuturaStd-BookOblique.ttf'),
    url('../font/FuturaStd-BookOblique.eot'); /* IE */
}

/* default to DIN-Black, the specificity of the elements here counts */
html body * {
    font-family: "DIN-Black";
}

#menu-dropdown .menu-dropdown-title {
    font-family: "DIN-Black";
}

#menu-dropdown a,
#menu-dropdown p,
.entry-content {
    font-family: "Gill Sans", sans-serif;
}

.entry-categories,
.entry-well-categories {
    font-family: "FuturaStd-BookOblique";
}

.entry-well-content {
    font-family: Clearface-Bold;
}

body {
    margin: 0;
}

a {
    color: #777;
    text-decoration: none;
}
a:visited {
  color: #777;
}
a:hover {
  color: #777;
  text-decoration: underline;
}

/* MISC POSITIONINGS */
div#menu-dropdown.hide,
.hide {
    display: none;
}

/* MAIN HEADER w/ NAVIGATION ETC. */
#header_container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* center all inline content */
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#menu-dropdown a,
#header_container a {
    color: #000;
    text-decoration: none;
}
#menu-dropdown a:visited,
#header_container a:visited {
  color: #000;
}
#menu-dropdown a:hover,
#header_container a:hover {
  color: #999;
}
#header {
    margin: 30px 20px;
}
#header div {
    vertical-align: middle;
}
#masthead {
    padding: 2% 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    z-index: 9000;
}

#branding {
    /* display is none at first so it can fade in */
    display: none;
    float: left;
    position: relative;
    width: 0;
    height: 0;
}
#branding #main-logo-small {
    position: absolute;
    top: -13px;
    height: 52px;
}

#navigation ul {
    margin: 0;
    padding: 0;
}
#navigation li{
    display: inline-block;
    margin: 0 20px;
}
#navigation a{
    font-size: 26px;
}

/* menu dropdown */
#menu-burger-control {
    float: right;
    position: relative;
    top: -37px;
    width: 8%;
    font-size: 27px;
}

#menu-dropdown {
    border-top: 5px solid rgb(0, 0, 0);
    /*border-bottom: 5px solid rgb(200, 200, 200);*/
    margin-bottom: 20px;
    padding: 20px 20px;
    width: 100%;
}

#menu-dropdown div {
    font-size: 20px;
}

#menu-dropdown-contact p {
    margin: 0;
}
p#menu-dropdown-contact-email {
    margin-bottom: 5px;
}

.menu-dropdown-title {
    margin-bottom: 5px;
}

#menu-dropdown-social ul {
    margin: 0;
    padding: 0;
}

#menu-dropdown-social ul > li {
    display: inline-block;
    padding-right: 5px;
}

#twitter-link,
#instagram-link {
    height: 25px;
}

/* MAIN CONTENT */
#main_content {
    width: 80%;
    margin: 0 auto;
}

/* footer stuff */
.footer {
    width: 100%;
    border-top: 4px solid rgb(0, 0, 0);
    font-family: "DIN-Black";
    text-align: center;
}

/* Smartphones */
@media only screen and (max-width: 760px) {
    .clear{
        clear: both;
    }
    #header_container {
        /* replace the bottom margin with a black border */
        margin-bottom: 0px;
        border-bottom: 5px solid rgb(0, 0, 0);
    }
    #masthead,
    #navigation,
    #menu-burger-control {
        display: none;
    }
    #header {
        margin: 20px 0;
    }
    #branding {
        width: 100%;
        height: 52px;
    }
    #branding #main-logo-small {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: static;
        height: 52px;
        width: 82px;
    }
    #main_content {
        width: 95%;
        margin: 0 auto;
    }
    .grid-item.first-entry .entry-well-header {
        border-top: 0;
    }
}
