{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.0.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/masthead.js' %}" charset="utf-8"></script>
    {% endblock css %}

    <title>Generation Zero{% block title_suffix %}{% endblock title_suffix %}</title>
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div id="header_container">
     <div id="masthead">
        <img src="{% static 'img/branding.png' %}">
      </div>
      <div id="header">
        <div id="branding" class="hide">
          <a href="{% url 'home_page' %}"><img src="{% static 'img/branding.png' %}"></a>
        </div>
        <div id="navigation">
          <ul>
            {% for category in category_list %}
            <li>
              <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
            </li>
            {% empty %}
            <li>No categories</li>
            {% endfor %}
          </ul>
        </div>
        {% comment %}
        <div id="menu" class="hide">
        <!-- TODO
          MENU
        -->
        &nbsp;
        </div>
        {% endcomment %}
        <div class="clear"></div>
      </div>
    </div>

    <div id="main_content">
      {% block content %}
      {# here is where the actual content goes #}
      {% endblock content %}
      <div class="clear"></div>
    </div>

    <footer class="footer">
      <p>Copyright © 2016 Generation Zero</p>
    </footer>

    {% endblock body %}
  </body>
  {% block js %}
  {% endblock js %}
</html>
