{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock css %}

    <title>Generation Zero{% block title_suffix %}{% endblock title_suffix %}</title>
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div id="header_container">
      <div id="header">
        <div id="branding">
          ZERO
        </div>
        <div id="navigation">
          <ul>
            {% for category in category_list %}
            <li><a href="{% url 'category' category_slug=category.slug %}">{{ category.title }}</a></li>
            {% empty %}
            <li>No categories</li>
            {% endfor %}
          </ul>
        </div>
        <div id="menu">
          MENU
        </div>
        <div class="clear"></div>
      </div>
    </div>

    {% block content %}
    {# here is where the actual content goes #}
    {% endblock content %}

    {% endblock body %}
  </body>
</html>
