{% extends "base.html" %}

{% block title_suffix %}
/ {{ issue.title }}
{% endblock title_suffix %}

{% block content %}

{# breadcrumbs #}
<a href="{% url 'home_page' %}">Generation Zero</a> /

<h2>{{ issue.title }}</h2>
<div class="grid">
    {% for entry in entry_list %}
      <div class="grid_item">
        <img src="/static/img/branding.png">
        <a href="{% url 'entry_in_issue' issue_slug=issue.slug entry_slug=entry.slug %}">{{ entry.title }}</a>
      </div>
    {% empty %}
      <div>No entries</div>
    {% endfor %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    console.log("document ready");
    var grid = $('.grid').masonry({
      itemSelector: '.grid_item',
      transitionDuration: 0
    });
  });
</script>
{% endblock content %}
