{% extends "base.html" %}

{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/splash_page.css' %}">
{% endblock css %}

{% block content %}
<h1>Generation Zero</h1>
<h2>Issues</h2>
<ul>
    {% for issue in issue_list %}
    <li><a href="{% url 'issue' issue_slug=issue.slug %}">{{ issue.title }}</a></li>
    {% empty %}
    <li>No issues</li>
    {% endfor %}
</ul>
<h2>Categories</h2>
<ul>
    {% for category in category_list %}
    <li><a href="{% url 'category' category_slug=category.slug %}">{{ category.title }}</a></li>
    {% empty %}
    <li>No categories</li>
    {% endfor %}
</ul>
{% endblock content %}
