#header_container {
    /* replace the bottom margain with a black border */
    margin-bottom: 0px;
    border-bottom: 5px solid rgb(0, 0, 0);
}

#branding #twitter-link,
#branding #instagram-link {
    top: 80px;
}

.entry-categories {
    font-style: italic;
    font-size: 0.8em;
}

.entry-info {
    /*float: left;*/
}
.entry-info.smartphone {
    display: none;
}

.entry-extra {
    /*float: right;*/
    /*display: block;*/
    /*border: 1px solid red;*/
}

.entry-title {
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding: 30px 0 30px 0;
}

.entry-content {
    margin: 0 20px 0 20px;
}

.entry-content > p {
    margin-top: 0;
}

.entry-content img {
    width: 100%;
}


/* Smartphones */
@media only screen and (max-width: 760px) {
    .entry-title {
        font-size: 1.5em;
        text-align: left;
        padding: 20px 0 10px 0;
    }
    .entry-info.smartphone {
        display: block;
        padding-bottom: 10px;
    }
    .entry-info.notsmartphone {
        display: none;
    }
    .entry-content {
        margin: 0;
    }
}
